.bg-image {
    position: relative;
    width: 100%;
}

.bg-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../images/pic_1.jpg") no-repeat center center / cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.get-schooled{
    font-size: 16vh;
    font-weight: 700;
    padding-top: 120px;
}

.btn-purple {
    background-color: #C271FF;
    border: none !important;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;

}

.btn-purple:hover {
    background-color: #b260e6 !important;
}

.txt-learn{
    color: #C271FF;
}

.card-img{
    border-radius: 50px !important;
}
.student-img {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}